{{ define "main" }}
<article class="markdown">
  <h1>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h1>
  <p>
    {{- .Content -}}
  </p>
  {{ partial "docs/backlinks" . }}
</article>
{{ end }}
